[submodule "Chatbot-Component"]
	path = Chatbot-Component
	url = https://github.com/eCAPTION/Chatbot-Component
[submodule "Information-Querying-Component"]
	path = Information-Querying-Component
	url = https://github.com/eCAPTION/Information-Querying-Component
[submodule "Infographic_Generator"]
	path = Infographic_Generator
	url = https://github.com/eCAPTION/Infographic_Generator
